doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Wycliffe MyPD

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='/#page-top')
                    img(src='assets/img/mypd-logo-dark-small.png', alt='Wycliffe MyPD')

                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='#features') Features
                    - const LOGIN_URL = process.env.LOGIN_URL
                    button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(onclick='window.location.href="'+ LOGIN_URL +'";')
                        span.d-flex.align-items-center
                            span.small(href=""+ LOGIN_URL +"") Login

        // Terms section
        section#features
            .container.px-5
                .row.gx-5.align-items-center
                    p
                    p
                    h1#wycliffe-mypd-privacy-policy WYCLIFFE MyPD PRIVACY POLICY
                    p
                    | This privacy policy (the “Privacy Policy”) applies to the MyPD application (the “App”) and the website located at
                    a(href="https://mypd.wycliffe.org") mypd.wycliffe.org
                    | (the “Site”). The App and the Site (collectively, the “Digital Tools”) are owned and operated by Wycliffe Bible Translators, Inc. (“Wycliffe” or “we”, “us,” or “our). By using the Digital Tools, you agree: (1) that you have read, understood, accepted, and agreed to be bound by the Terms and Conditions listed at
                    a(href="https://get.mypd.wycliffe.org/terms-and-conditions") https://get.mypd.wycliffe.org/terms-and-conditions
                    | and this Privacy Policy, and (2) that Wycliffe is permitted to collect and use your personal information as set forth below. Please read the Terms and Conditions and this Privacy Policy carefully. If you do not agree to be bound by both, please leave this Site immediately, do not access or otherwise use any portion of the Site, and do not disclose any personal information to Wycliffe via this Site.
                    p
                    h2#purpose- Purpose.
                    p
                    | Wycliffe created this Privacy Policy to tell you what information the Digital Tools collect, how that information is used, and who, if anyone, we will share that information with. This Privacy Policy does not address the privacy practices of any partner organizations or any third parties that we do not own, control, or are affiliated with. By using the Digital Tools, you are agreeing to the terms of this Privacy Policy and the accompanying Terms and Conditions. We are committed to protecting your privacy and providing a safe experience through the Digital Tools.
                    p
                    h2#information-wycliffe-collects-or-receives- Information Wycliffe Collects or Receives.
                    p
                    | In the course of operating the Digital Tools, we will collect and/or receive the following types of information. You authorize us to collect and/or receive such information. Wycliffe gathers two types of information about you through the Digital Tools:
                    ul
                    li
                        strong Personal Information
                        | . We gather information you provide through optional, voluntary submissions throughout the Site. We collect your willingly-submitted contact information (e.g., your name, address, email, etc.), contact information of others which you willingly-submit, financial information (ministry budget amounts, income details, and per-donor giving history, and other information you submit through the Site and use it to: (a) fulfill your requests to receive our e-mails, (b) provide you with reporting features and tools for partnership development activities in the Site; (c) contact you when necessary in order to resolve customer service issues or questions; and (d) personalize the types of information you receive from us.
                    li
                        strong Aggregate user information
                        | . We also gather information through aggregated Site tracking tools, derived mainly by tallying page views throughout our Site. This aggregated tracking information does not include your personal information, but is instead limited to: (a) information such as the server your computer is logged onto and IP address, (b) your browser type (e.g., Google Chrome or Internet Explorer), and (c) the pages you view or request to view. This information allows us to assess trends in the use of our Site or purchases of products or services, develop content and functionality, and improve the service and products we provide.
                    p
                    h2#connected-services-third-parties- Connected Services & Third Parties.
                    p
                    | These connections to third-party services are not required to use Our Site. Once you’ve clicked on a link or button activator for an outside Site, you will leave the Site and be taken to sites that we do not control, and our privacy policy no longer applies on those sites.
                    | You must read the privacy policy of the third party Web site concerning how personal information will be used. We also provide content created by third-parties on certain of our Sites. We are not responsible for the privacy practices or the content of such Content Providers or Third-Party Sites.
                    ul
                    li
                        strong Google
                        | . This Site offers the ability to link with Google Accounts you own. 
                        | We allow connection with Google Accounts you own to provide integrations between Our Site and Google Calendar, Google Mail, and Google Contacts.
                        | Google Calendar and Our Site integrate to allow you to automatically keep your Google Calendar up to date with events going on in Our Site. For instance, if you create a task on Our Site with a due date, Our Site may create this appointment on your Google Calendar.
                        | Google Mail and Our Site integrate to allow you to automatically keep communications between you and your contacts up to date. For example, to increase user experience, Our Site may import email conversations from Google Mail that match with email addresses stored in your account.
                        | Google Contacts and Our Site integrate to allow you to automatically keep changes in contact information up to date between Our Site and Google Contacts. For Example, syncing Our Site and Google Contacts can allow you to import contacts and contact information from Google Contacts into Our Site for appropriate purposes covered under our Privacy Policy and Terms of Use. Our Site can also sync your Google Contacts and contacts on Our Site to allow information between the two systems to be kept up to date.
                    li
                        strong Mailchimp
                        | . This Site offers the ability to link with an Intuit Mailchimp account you own. We allow connection with a Mailchimp account you own to provide integrations between Our Site and Mailchimp.  After enabling this integration, your contact information (e.g., your contact’s names, email, etc.) will be made available to the Mailchimp service.
                    li
                        strong Prayerletters.com
                        | . This Site offers the ability to link with a Prayerletters.com account you own. We allow connection with a  Prayerletters.com account you own to provide integrations between our Site and Prayerletters.com.  After enabling this integration, your contact information (e.g., your contact’s names, addresses, email, etc) will be made available to the Prayerletters.com service.
                    li
                        strong Chalkline.com
                        | . This Site offers the ability to link with a Chalkline.com account you own. We allow connection with a  Chalkline.com account you own to provide integrations between our Site and Chalkline.com.  After enabling this integration, your contact information (e.g., your contact’s names, addresses, email, etc) will be made available to the Chalkline.com service.
                    p
                    h2#online-behavioral-advertising- Online Behavioral Advertising.
                    p
                    | We may occasionally use advertising networks and services provided by third-party vendors. These services collect data about your interactions with the Digital Tools and use such data to target personal content and advertisements for goods and services. The data collected may be associated with your Personal Information. The targeted content and advertisements may appear on the Digital Tools and on other websites and may be sent to you via email. Advertising networks often gather data about consumers who view advertisements to make inferences about a consumer’s interests and preferences, which enables the delivery of advertisements directly targeted to the consumer’s specific interests. This practice is often referred to as “online behavioral advertising.”
                    | For example, we may use Google Ads to serve ads on our behalf across the internet and on the Digital Tools. Google uses cookies and similar technologies to collect data about your visits to the Site and your interaction with products and services to generate targeted advertisements to you on other websites that you visit across the internet. To opt out of remarketing advertising provided through Google, to customize your ad preferences, or to limit Google’s collection or use of such data, visit Google’s Safety Center and Google’s Ad Settings and follow Google’s personalized ad opt-out instructions. Opting out will not affect your use of the Digital Tools.
                    | To change your preferences with respect to certain online ads and to obtain more information about third-party ad networks and online behavioral advertising, visit the National Advertising Initiative Consumer opt-out page or the Digital Advertising Alliance Self-Regulatory Program. Changing your settings with individual browsers or ad networks will not necessarily carry over to other browsers or ad networks. As a result, depending on the opt-outs you request, you may occasionally still see our ads.
                    | You may visit
                    a(href="https://www.google.com/settings/ads") https://www.google.com/settings/ads
                    | to opt out of Google’s use of cookies or
                    a(href="http://www.networkadvertising.org/choices/") http://www.networkadvertising.org/choices/
                    | to opt out of other third party vendors’ use of cookies.
                    p
                    h2#cookies- Cookies.
                    p
                    | A cookie is a piece of data stored on the user's hard drive containing information about the user. Cookies are used to enhance the experience while visiting this Site. Usage of a cookie is in no way linked to any personally identifiable information while on our Site. If you reject cookies, you may still use our Site. The only drawback to this is that you will be limited in some areas of our Site. For example, you will not be able to fully participate in any of our polls that take place. Cookies can also enable us to track and target your interests to enhance your experience on our Site. As referenced above, some of our technology partners (i.e., Google Analytics Demographics and Interests, traffic analysis, email marketing, etc.) use cookies on our Site. Some of these cookies may be used by third parties to serve targeted online ads on other websites, Google and social outlets like Facebook. You may visit
                    a(href="https://www.google.com/settings/ads") https://www.google.com/settings/ads
                    | to opt out of Google’s use of cookies or
                    a(href="http://www.networkadvertising.org/choices/") http://www.networkadvertising.org/choices/
                    | to opt out of other third party vendors’ use of cookies.
                    p
                    h2#required-disclosure-of-information Required Disclosure of Information
                    p
                    | We also reserve the following rights to disclose your personal information to appropriate third-parties and connected services if we are required to do so by law or we believe such action is necessary: (1) for technical processing - we may need to view your information in connection with technical problems or network maintenance; (2) to protect Wycliffe’s rights, interest, and/or property; (3) to investigate reports of users sending material using a false email address or users sending harassing, threatening, subjective, or abusive messages; (4) to protect against fraud, misuse, or unauthorized use of the Digital Tools and/or ministry; (5) during emergencies (e.g., when we believe someone's physical safety is at risk); and (6) to comply with legal process (e.g., search warrant, subpoena or court order) or applicable laws.
                    p
                    h2#links Links
                    p
                    | This Site contains links to other sites. Please be aware that Wycliffe is not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our Site and to read the privacy statements of each and every web site that collects personally identifiable information. This privacy statement applies solely to information collected by this Site.
                    p
                    h2#security Security
                    p
                    | Access to the Site is limited to Wycliffe staff only.  All other access is considered unauthorized.
                    | We will take reasonable precautions to protect your information on this Site. We typically employ physical, electronic, and procedural safeguards to protect personal information we collect online, including the use of passwords to gain access to your information and standard authorization and encryption procedures for certain transactions. However, even with such measures, no one can guarantee that unauthorized third parties will not be able to bypass these measures or otherwise capture information you provide over the Internet. You can help keep your information secure by keeping your password confidential and always signing out of your account and closing your browser window when you are finished viewing the Site. If you have any questions about the security at our Site, you can send an email to info_usa@wycliffe.org.
                    | Correcting/Updating Personal Information
                    | If any of your information changes, we will endeavor to provide a simple way to correct, update, and/or remove your personal information provided to us.  This can usually be done at the “My Account” page on this Site. If you are unable to correct, update, and/or remove your personal information at the “My Account” page on this Site, please send an e-mail to info_usa@wycliffe.org.
                    p
                    h2#opt-in-opt-out Opt-in/Opt-out
                    p
                    | If you no longer wish to receive communications requested through our website, you may opt-out of receiving these communications by updating your notification settings or by requesting your account be deactivated.
                    p
                    h2#children-under-13 Children Under 13
                    p
                    | Parents should consider using parental control tools available from online services and software manufacturers to help supervise their children's online activities. These tools can also prevent children from disclosing their name, address, and other personal information online without parental permission.
                    | The Digital Tools are not directed to children under the age of 13. Wycliffe will not knowingly collect Personal Information from any child under the age of 13. We ask that minors (under the age of 13) not use the Digital Tools. If a child under the age of 13 has provided us with Personal Information, a parent or guardian of that child can email us to have their child's information removed from any further use at
                    a(href="mailto:info_usa@wycliffe.org") info_usa@wycliffe.org
                    | and request that such information be deleted from our records.
                    | Consistent with the Federal Children's Online Privacy Protection Act of 1998 (“COPPA”), we will never knowingly request personally identifiable information (e.g., name, email, mailing address, phone number) from anyone under the age of 13 without requesting parental or legal guardian consent in compliance with COPPA. No information should be submitted to this Site by visitors under the age of 13 without the express consent of a parent or legal guardian. 
                    | Accessing and Modifying Information and Communication Preferences.
                    | If you have provided us any Personal Information, you may access, remove, review, and/or make changes to the same by contacting us as set forth below. We will make all reasonable efforts to process such requests in a timely manner. You should be aware, however, that it is not always possible to completely remove or modify information in our subscription databases. You cannot opt out of receiving transactional e-mails related to the Digital Tools (e.g., requests for support).
                    | Wycliffe may also deliver notifications to your mobile device (e.g., push notifications). You can disable these notifications by deleting the relevant service or by changing the settings on your mobile device.
                    p
                    h2#changes-to-our-policy Changes to our Policy
                    p
                    | Wycliffe reserves the right to change or modify portions of this Privacy Policy at any time. If we change our Privacy Policy, we will post the revised Privacy Policy linked from our “Homepage” on the Site so you are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. Our Privacy Policy will indicate the date it was last updated (see below). Your continued use of this Site following posted changes of this Privacy Policy indicates your acceptance of these changes. Please refer back to this Privacy Policy on a regular basis to stay informed about any changes.
                    p
                    h2#contacting-the-site Contacting the Site
                    p
                    | If you have any questions about this Privacy Policy, the practices of this Site, or your dealings with this Site, you can contact:
                    a(href="mailto:info_usa@wycliffe.org") info_usa@wycliffe.org.
                    p Effective as of 03/15/2024

        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; Wycliffe Bible Translators, Inc. All Rights Reserved.
                    a(href='privacy-policy.html') Privacy
                    span.mx-1 &middot;
                    a(href='terms-and-conditions.html') Terms
                    span.mx-1 &middot;
                    a(href='https://helpdesk.wycliffe.org') Help
        
        //- include includes/feedback-modal.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
